@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	height: 100dvh;
}

@layer base {
	:root {
		--background: 36 41% 97%;
		--foreground: 24 22% 16%;

		--muted: 38 30% 92%;
		--muted-foreground: 25 16% 40%;

		--popover: 36 41% 98%;
		--popover-foreground: 24 22% 16%;

		--card: 36 41% 98%;
		--card-foreground: 24 22% 16%;

		--border: 32 24% 85%;
		--input: 32 24% 85%;

		--primary: 24 32% 28%;
		--primary-foreground: 36 60% 96%;

		--secondary: 40 45% 88%;
		--secondary-foreground: 24 26% 20%;

		--accent: 37 60% 78%;
		--accent-foreground: 24 24% 22%;

		--destructive: 7 70% 52%;
		--destructive-foreground: 33 70% 97%;

		--ring: 25 32% 30%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 26 22% 12%;
		--foreground: 36 55% 90%;

		--muted: 28 15% 20%;
		--muted-foreground: 33 24% 70%;

		--popover: 26 22% 14%;
		--popover-foreground: 36 55% 90%;

		--card: 26 22% 14%;
		--card-foreground: 36 55% 90%;

		--border: 28 18% 24%;
		--input: 28 18% 24%;

		--primary: 35 55% 76%;
		--primary-foreground: 24 30% 12%;

		--secondary: 28 18% 22%;
		--secondary-foreground: 36 55% 88%;

		--accent: 35 32% 32%;
		--accent-foreground: 35 55% 88%;

		--destructive: 7 65% 48%;
		--destructive-foreground: 33 70% 95%;

		--ring: 35 55% 76%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
